.dish_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dish_section .dish_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.dish_section .dish_container .box {
    -ms-flex-preferred-size: calc(50% - 20px);
    flex-basis: calc(50% - 20px);
    margin: 10px;
    border: 10px solid #f8f8f8;
}

.dish_section .dish_container .box img {
    width: 100%;
    height: 100%;
}

.dish_section .dish_container .box:hover {
    border: 10px solid #262626;
}

.dish_section .detail-box {
    padding-left: 10%;
    text-align: right;
}

.dish_section .detail-box .heading_container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.dish_section .detail-box p {
    margin-top: 20px;
}

.dish_section .detail-box a {
    display: inline-block;
    padding: 8px 35px;
    background-color: #262626;
    color: #ffffff;
    border: 1px solid #262626;
    margin-top: 30px;
}

.dish_section .detail-box a:hover {
    background-color: transparent;
    color: #262626;
}